#backgroundVideo {
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    z-index: -100;

    background-size: cover;

}
#focus {
    background: #333333;
}
#focus h2 {
    color: white;
    text-transform: none;
}

#focus h4 {
    color: white;
    font-weight: bold;
}
.tarjeta-sombra .elementor-element-populated {


    box-shadow: 5px 10px #888888;

}
.content-botones a:nth-child(odd) {
    background-color: #1e9e6b;
    color:white;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.content-botones a:nth-child(even) {
    background-color: #e96656;
    color:white;
    text-transform: uppercase;
    font-weight: lighter;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.hestia-features .hestia-title  {
    color: white;
}
.hestia-features .description {
    font-weight: bold;
}
.hestia-team  {
    background-color: white;
}
.clients-bar-wrapper {
    background-color: #ffff00;
}
.default .main {
    margin: -60px 30px 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}


